.tableText {
    text-align: left;
    padding: 10px;
    width: 80px;
    border-right: 1px solid #aeaeae;
    border-bottom: 1px solid #aeaeae;
  }

  @media screen  and (max-width: 768px) {
    .tableText{
      width:61px;
    }
  }
  
  .image {
    width: 50px;
    height: 50px;
  }
  
  .titleText {
    width: 123px;
  }

  @media  screen and (max-width: 768px) {
    .titleText{
      width: 12%;
    }
  }
  
  .texts {
    width: 492px;
  }

  @media  screen and (max-width: 768px) {
    .texts{
      width: 20%;
    }
  } 

  
  .forBorderNone{
    border-right: none;
  }